@page{	
	margin-top: 13px;
	margin-bottom: 0px;
	size:portrait;
	@bottom-right {
    content: counter(page) " of " counter(pages);
   }
	
}

@font-face {
  font-family: "Saxmono";
  src: url(assets/css/saxmono.ttf) format("truetype");
}

@media print {
  main {
    page-break-after:auto ;
    font-family: "Saxmono";
  }
}

.pagebreak { page-break-before: always; } /* page-break-after works, as well */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #494949;
  text-decoration: none;
}

body {
  position: relative;
  color: #000000;
  background: #FFFFFF; 
  /* *font-family: Arial, sans-serif; 
  font-family: "Calibri"; */
  /* font-size: 11px;  */
  font-size: 0.7em;
  font-family: "Saxmono";
  /* *font-family: SourceSansPro; */
}

header {
  padding: 10px 0;
  /* margin-bottom: 20px; */
  /* border-bottom: 1px solid #000000;   */
}

#logo {
  float: left; 
}

#logo img {
  width:75px;
  height: 30px;
}

#company {
  float: right;
  text-align: right;
}


#details {
  margin-bottom: 5px;
}

#client {
  padding-left: 6px;
  border-left: 6px solid #494949;
  float: left;
  width:400px
  
}

#client .to {
  color: #2d2d2d;
}

h2.name {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.trf-detail{	
	font-weight : normal;	
	font-size: 14px;
	border : 1.5px solid #c0c0c0;
	padding : 10px;
	width : 450px;
	
}

#invoice {
  float: right;
  text-align: right;
  width:380px
}

#invoice h1 {
  color: #494949;
  font-size: 14px;
  line-height: 1em;
  font-weight: bold;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #2d2d2d;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
 
  cellspacing :1;
  cellpadding :1;
 
}

table th,
table td {
  padding: 3px;
  background: #ffffff;  
  *border :1px solid #000000;
}

table th {
  white-space: nowrap;        
  font-weight: normal;
   color: #000000;
}

table td {
  text-align: right;
}

table td h3{
  color: #000000;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  color: #000000;
  font-size: 12px;
   text-align: left;
 
}

table .desc {
  text-align: left;
  font-size: 12px;
  
}

table .unit {
  background: #ffffff;
}

table .qty {
	
}

table .total {
  background: #ffffff;
  color: #000000;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 12px;
}


table tfoot td {
  padding: 5px 5px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 12px;
  white-space: nowrap; 
  border-top :1px dotted #000000;
}

table tfoot tr:first-child td {
   /* border-top: 2px solid #000000; */
}

table tfoot tr:last-child td {
  color: #000000;
  font-size: 12px;
  /* border :1px solid #000000; */
  font-weight : bold;

}

table tr td{
  padding: 0px;
}

table tfoot tr td:first-child {
  /* border :1px solid #000000; */
}

#thanks{
  font-size: 2em;
  margin-bottom: 50px;
}

#notices{
  padding-left: 6px;
  border-left: 6px solid #494949;  
}

#notices .notice {
  font-size: 12px;
}

footer {
  color: #000000;
  width: 100%;
  height: 50px;
  *position: absolute;
  margin-top : 10px;
  bottom: 0;
  border-top :1px dotted #000000;
  padding-top: 10px;
  text-align: center;
  position: fixed; bottom: 100px;
  
} 
.title-letter{
  color: #808080;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
  text-align : center;
  text-decoration : none;
}
.invoice-date{
  color: #808080;
  font-size: 16px;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
  text-align : center;
}
.status-unpaid{
  color: #dfdf00; 
  font-weight : bold;
}
.status-paid{
  color: #00d76b; 
  font-weight : bold;
}
.text-bottom{
	margin-bottom : 5px;
}
.notice-set{
	margin-top : 20px;
}
.notice-right{
	margin-top : 10px;
	
}
.notice-left{
	margin-top : 85px;
	
}
.left{
  	width:50%;	
	float:left;
	text-align:center;
}
.left hr{
 margin-top : 80px;
 width : 35%;
}
.left h2 {
  color: #494949;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: normal;
  margin: 20  0 10px 0;
}
.right{
	width:50%;	
	float:right;
	text-align:center;
	font-size:13px;
}
.right hr{
 margin-top : 80px;
 width : 35%;
}
.right h2 {
  color: #494949;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: normal;
  margin: 20  0 10px 0;
}
.break-down{
	page-break-before: always;
}

.page-invoice{
	page-break-before: always;
}

/* Create three equal columns that floats next to each other */
.column {
	text-align:center;
    float: left;
    width: 20%;
    margin: 10px;
    /* padding: 10px; */
    *height: 50px; /* Should be removed. Only for demonstration */
}
.column-note {
  text-align:left;
    float: left;
    width: 60%;
    /* padding: 10px; */
    *height: 50px; /* Should be removed. Only for demonstration */
}
.note {
  height: 60px;
  border: #000000 1px dotted;
}
.thumb {
	
    float: left;
    width: 15%;
   
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.signature{
	font-size:12px;
	text-align:center;
	margin-top:30px;
	padding:10px;
	border-bottom: 1px dotted #000000;
}
.page-number:after { 
	
	content: "Page: " counter(page);
}